.wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  left: 0;
  right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-200);
  min-height: 4.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > li {
    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    height: 2.75rem;
    color: var(--color-gray-600);
    border-radius: 0.5rem;

    &-active {
      background-color: var(--color-gray-100);
      color: var(--color-primary);
    }
  }
}

.export {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  height: 2.75rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  background: none;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid var(--color-gray-300);

  &:hover {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
  }
}
